<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board</title>
    <meta name="description" content="Post and reply to anonymous message board threads.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <header>
      <h1>
        Anonymous Message Board
      </h1>
    </header>    
    <hr style="margin: 40px auto">
    <h2><a href="/b/general/">Go to <i>'/b/general/'</i> to see a sample message board</a></h2>
  </body>
</html>