:root {  
  --back-color-light: #EAF1F7;
  --back-color-dark: #376B98;
  --intro-color: #1D3850;
  
  --text-color-light: white;
  --text-color-dark: black;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  background-color: var(--back-color-light);
}

h1 {
  background-color: var(--back-color-dark);
  color: var(--text-color-light);
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin-bottom: 5px;
  padding: 5px;
  max-width: 80%;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
  max-width: 80%;
}

.replyText {
  max-width: 80%;
}

.id {
  font-size: 10.5px;
}

#submitNewThread {
  margin: 50px;
}